.cart {
    position: sticky;
    top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.cartActions {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.cartActions button {
    margin: 0 5px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartActions button p {
    margin-right: 7px;
}

.chooseButton {
    color: green;
}

.chooseAgainButton {
    color: tomato;
}

.cartActions button:hover {
    color: orange;
}

.cartActions button:active {
    color: orangered;
}

/* Adjustments For Mobile view  */
@media screen and (max-width: 768px) {
    .cart {
        position: relative;
    }

    .cart h3 {
        margin-top: 7px;
    }
}